<div class="footer">
  <footer>
    <div class="container d-flex flex-row justify-content-between">
      <span class="portfolios">Copyright 2019 | Developed by <a href="/">ashmello</a> & <a href="/">spfeiler</a></span>
        <span><a href="/admin-login">Admin Login &raquo;</a></span>
      </div>
  </footer>
</div>
