<div class="menu">
  <a href="/products">Shop</a>
  <a href="/about">About the Artist</a>
  <a href="/reviews">Customer Reviews</a>
  <a href="/contact">Contact</a>
  <a href="/shoppingcart">Cart</a>
</div>
