<div class="menu">
  <div>
    <div>
      <a href="/products">Shop All</a>
      <a href="/products/category/Necklaces">Necklaces</a>
      <a href="/products/category/BolloTies">Bollo Ties</a>
      <a href="/products/category/Bracelets">Bracelets</a>
      <a href="/products/category/Rings">Rings</a>
      <a href="/products/category/BeltBuckles">Belt Buckles</a>
    </div>
      <div>
        <a href="/products/style/Vintage">Vintage</a>
        <a href="/products/style/Silver">Silver</a>
        <a href="/products/style/Beadwork">Beaded</a>
      </div>
  </div>
  <a href="/about">About the Artist</a>
  <a href="/reviews">Customer Reviews</a>
  <a href="/contact">Contact</a>
  <a href="/shoppingcart">Cart {{totalItems}}</a>
</div>
