<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/about.css">
  </head>
  <body>

    {{> menu}}
    <div class="container">
    <h1 class="title">About the Artist</h1>
      <img class="aboutImg" src="images/about/artistpicture.jpg" alt="Artist">
      <h2>Jewelry artisan creates gifts as meaningful as they are beautiful!</h2>
        <p>Paige has been making jewelry since the age of 12. Her father taught her
          traditional Hopi Indian silversmithing skills. Paige later studied wax
          casting in Manhattan. She started incorporating vintage rhinestone jewelry
          into her work when her mother was diagnosed with cancer in 1997. The idea
          was to make her mother’s necklace so breathtaking, no one would notice she
          was wearing a wig. Her mother still lives by her motto “Life is too short
          not to be sparkly everyday”. Over the years, Paige has won several awards
          including the Linz Award. Paige lives in California with her husband
          and three boys.</p>

        <h2>Custom Sterling Silver Necklaces, Rings and Belt Buckles...</h2>
          <p>Silversmithing is Paige’s original craft and specialty. She begins
            with sheets of silver and carefully handcrafts them into unique,
            one-of-a-kind designs. Her Queen's Crown Rings are filled with love
            and inspiration as each ring has her client's personal mantra
            hand-inscribed under the stone.  Her shadowbox belt buckles often
            include semi-precious stones and vintage buttons. Custom design
            requests are always welcome.</p>

        <h2>Vintage Jewelry Re-styling...</h2>
          <p>Paige can restyle your grandmother’s box of rhinestone jewelry and
            vintage beads. Re-invent what you think is “junk” into beautiful,
            wearable treasures. Family jewelry reconstructions make meaningful
            gifts for any occasion.  Paige begins with vintage brooches, earrings,
            dress clips, and other unusual items, and incorporates the pieces
            into necklaces with freshwater pearls, semi-precious stones and
            Swarovski crystals. Additionally, all pieces have extender chains
            on the clasps which allow for varying lengths. Each piece is designed
            to look great with not only a white shirt and jeans, but also with
            more formal attire. Each piece is one-of-a-kind and guaranteed to
            bring you compliments.</p>
        </div>
    {{> footer}}
    {{>script}}
  </body>
</html>
