<!DOCTYPE html>
<html>
  <head>
    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/admin.css">
  </head>
  <body>

    {{> menu}}

    <h1>Admin Manage Inventory</h1>

    <form action="/admin/admin-inventory" method="POST">

      <h3>Add New Products:</h3>
      <input type="text" name="name" placeholder="name" />
        <div class="card">
          <label class="file-upload-container" for="file-upload">
            Select an Image
            <input id="file_upload" type="file"/>
            <img src='' id="imgPreview"/>
            <input type="hidden" id="imageUrlHidden" name="image"></input>
          </label>
        </div>
      <select name="selectType" id="selectType">
        <option value="" disabled selected>Select Category</option>
        <option name= "category" value="Necklaces">Necklaces</option>
        <option name= "category" value="BoloTies">Bolo Ties</option>
        <option name= "category" value="Rings">Rings</option>
        <option name= "category" value="BeltBuckles">Belt Buckles</option>
      </select>
      <select name="selectGenre" id="selectGenre">
        <option value="" disabled selected>Select Style</option>
        <option name= "style" value="Vintage">Vintage</option>
        <option name= "style" value="Silver">Silver</option>
        <option name= "style" value="Beadwork">Beadwork</option>
      </select>
      <textarea name="description" placeholder="Enter Description"></textarea>
      <input type="text" name="price" placeholder="price" />
      <button type="submit">Save</button>
    </form>

  <h2>Current Inventory</h2>

  <div>
    <form action="/admin/admin-viewfiltered" method="POST">
      <h3>Filter Inventory by Category:</h3>
       <select name="selectCat" id="selectCat">
          <option value="" disabled selected>Select Category</option>
          <option name= "category" value="Necklaces">Necklaces</option>
          <option name= "category" value="BoloTies">Bolo Ties</option>
          <option name= "category" value="Rings">Rings</option>
          <option name= "category" value="Belt Buckles">Belt Buckles</option>
        </select>
      <button type="submit">Filter</button>
    </form>
    <a href="/admin/admin-inventory"><button>View All Products</button></a>
  <div>


  <div class="inventoryDisplay">
      {{#product}}
      <div class="productList">
      <ul>
      <li class="inventItem"><img id="image" src={{thumbnail}} /></li>
      <li class="inventItem">{{name}}</li>
      <li class="inventItem">{{category}}</li>
      <li class="inventItem">{{style}}</li>
      <li class="inventItem">{{description}}</li>
      <li class="inventItem">{{price}}</li>
      <div id="btn"
      <form action="/admin/editproduct/{{id}}" method="GET">
      <input type="hidden" name="id" value={{id}} />
      <button type="submit">Edit</button>
      </form>
      <form action="/admin/deleteproduct" method="POST">
        <input type="hidden" name="productId" value={{id}} />
        <button type="submit">Delete</button>
      </form>
      </div>
      </ul>
        </div>
        <br>
      {{/product}}
  </div>

    <form class="logout" action="/admin/admin-logout" method="POST">
      <button type="submit">Logout</button>
    </form>

    {{> footer}}
    {{> script}}
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/scripts/inventory.js"></script>
  </body>


</html>
