<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h1>Admin Manage Inventory</h1>

    <form class="logout" action="/admin-logout" method="POST">
      <button type="submit">Logout</button>
    </form>

    {{> footer}}
  </body>
</html>
