<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="/styles/products.css">
  </head>
  <body>

    {{> menu}}
  <h1>Confirmation</h1>
  <h3>Thank you for your purchase! Your order is being processed and you will recieve an emailed receipt shortly.</h3>
  <a href="/products">Return Home</a>
    {{> footer}}
  </body>
</html>

