<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="/styles/contact.css">
    {{> meta}}
  </head>
  <body>

    {{> menu}}
    <div class="container">
    <h1 class="title">Contact</h1>
    </div>
    {{> footer}}
    {{> script}}

  </body>
</html>
