<!DOCTYPE html>
<html>
  <head>

    <title></title>
    <link rel="stylesheet" href="/styles/contact.css">
    {{> meta}}
  </head>
  <body>

    {{> menu}}
    {{> meta}}
    <div class="heading">
      <h1>Let's Get Social</h1>
      <span>Paige can restyle your grandmother’s box of rhinestone jewelry and vintage beads. 
              Re-invent what you think is “junk” into beautiful,
              wearable treasures. Choose an option below to get in touch and discuss a custom piece!</span>
    </div>

    <div class="social">
      <a href="mailto:paigepeakewright@gmail.com"><img src="/images/gmail-login-icon-128.png"></a>
      <a href="https://www.instagram.com/paigepeakewright/?hl=en" target="_blank"><img src="/images/instagram-icon-128.png"></a>
    </div>



    {{> footer}}
    {{> script}}

  </body>
</html>
