<!DOCTYPE html>
<html>
  <head>

    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/item.css">
  </head>
  <body>

    {{> menu}}

    <!-- <h2 class="title">Product Info</h2> -->
    <div class="container-item">
    <ul class="itemList">
      {{#product}}
      <li>
        <div class="itemImg">
        <img class="img" src={{thumbnail}} />
      </div>
        <div class="proInfo">
        <h1 class="itemName">{{name}}</h1>
        <h4 class="itemPrice">${{price}}</h3>
        <p class="itemDes">{{description}}</p>
        <form class="cartBtn" action="/add-to-cart/{{id}}" method="POST">
          <input type="hidden" value={{id}} name="id" />
          <button class="btn" type="submit">Add to Cart</button>
        </form>
      </div>
      </li>
      {{/product}}
    </ul>
  </div>

    {{> footer}}
    {{> script}}

  </body>
</html>
