<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>
  <body>

    {{> menu}}

    <h2>Product Info</h2>

    <ul>
      {{#product}}
      <li>
        <img src={{thumbnail}} />
        <h3>{{name}}</h3>
        <h4>{{price}}</h4>
        <p>{{description}}</p>
        <form action="/add-to-cart/{{id}}" method="POST">
          <input type="hidden" value={{id}} name="id" />
          <button type="submit">Add to Cart</button>
        </form>
      </li>
      {{/product}} 
    </ul>

    {{> footer}}
  </body>
</html>
