<!DOCTYPE html>
<html>
  <head>

    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    {{> menu}}

    <h1>Main Page</h1>

    {{> footer}}
    {{> script}}
  </body>
</html>
