<!DOCTYPE html>
<html>
  <head>

    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/main.css">
  </head>
  <body>

    {{> menu}}

  <div class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
        <img src="/images/mainpics.png" class="d-block w-100" alt="picture">
              <div class="carousel-caption text-right">
                <h1>Gifts as Meaningful as They Are Beautiful</h1>
                <h4 class="shopnow"><a href="/products">Shop Now &raquo;</a></h4>
              </div>
    </div>
  </div>
</div>
<h3>Make a Statement with These One-Of-A-Kind Accessories</h3>
<div class="product-cards">
  <div class="shop-card">
  <a href="/products/category/Necklaces" style="text-decoration:none;"><div class="shop-btn">
    <p class="shop-text">Shop Necklaces &raquo;</p>
    <img class="shop-img" src="/images/mainnecklace.jpg" alt="necklace">
  </div></a>
</div>

  <div class="shop-card">
  <a href="/products/category/BoloTies" style="text-decoration:none;"><div class="shop-btn">
    <p class="shop-text">Shop Bolo Ties &raquo;</p>
    <img class="shop-img" src="/images/mainbolo.jpg" alt="bolotie">
  </div></a>
</div>

  <div class="shop-card">
  <a href="/products/category/Rings" style="text-decoration:none;"><div class="shop-btn">
    <p class="shop-text">Shop Rings &raquo;</p>
    <img class="shop-img" src="/images/mainrings.jpg" alt="ring">
  </div></a>
</div>

  <div class="shop-card">
  <a href="/products/category/BeltBuckles" style="text-decoration:none;"><div class="shop-btn">
    <p class="shop-text">Shop Belt Buckles &raquo;</p>
    <img class="shop-img" src="/images/mainbelt.jpg" alt="beltbuckle">
  </div></a>
</div>

</div>

    {{> footer}}
    {{> script}}
  </body>
</html>
