<!DOCTYPE html>
<html>
  <head>
    
    <title></title>
    <link rel="stylesheet" href="/styles/press.css">
  </head>
  <body>

    {{> menu}}
    <div class="container">
    <h1 class="title">Press & Customer Testimonials</h1>
    </div>

    {{> footer}}

  </body>
</html>
