<!DOCTYPE html>
<html>
  <head>

    <title></title>
    {{> meta}}
    <link rel="stylesheet" href="/styles/products.css">
  </head>
  <body>

    {{> menu}}
    <div class="container-title">
    <h1 class="title">••• Products •••</h1>
    <h1 class="subtitle">{{category}}</h1>
    <h1 class="subtitle">{{style}}</h1>
  </div>
    <div class="pro-list">
    <ul class="productList">
      {{#product}}
      <li>
        <a class="productLink" href="/item/{{id}}/{{name}}">
        <img class="productImg" src={{thumbnail}} />
        <div class="product-info">
        <h4 class="productName">{{name}}</h4>
        <p class="productPrice">${{price}}</p>
      </div>
        <input type="hidden" name="itemId" value={{id}} />
        </a>
      </li>
      {{/product}}
    </ul>
  </div>

    {{> footer}}
    {{> script}}
  </body>
</html>
