<!DOCTYPE html>
<html>
  <head>
    <title>Cart</title>
  </head>
  <body>
  {{> menu}}


<h2>CART</h2>
<p>Total Items: {{totalItems}} </p>
<div>
    {{#cartItems}}
        <span>{{name}}</span>
        <img src="{{thumbnail}}"></span>
        <form action="/delete-item/{{id}}" method="POST">
          <input type="hidden" name="id" value={{id}} />
          <button type="submit">Remove</button>
        </form>
     {{/cartItems}}
     {{^cartItems}}
     <p>Your cart is currently empty. <a href="/">Click here</a> to continue shopping.</p>
     {{/cartItems}}

</div>
<div class="cart-total">
        <span class="cart-total-title">Total</span>
        <span class="cart-total-price">${{subtotal}}</span>
</div>
  <a href="/checkout"><button>Proceed to Checkout</button></a>

    {{> footer}}
  </body>
  <script>
  </script>
  </html>
