<!DOCTYPE html>
<html>
  <head>

    <title></title>
    {{> meta}}
  </head>
  <body>
   {{> menu}}
{{#product}}
<form action="/admin/updatechoice" method="POST">
      <input type="text" name="name" value={{name}}></input>
            <div class="card">
            <label class="file-upload-container" for="file-upload">
                Select an Image
                <input id="file_upload" type="file"/>
                <img src='{{thumbnail}}' id="imgPreview"/>
                <input type="hidden" id="imageUrlHidden" name='image'></input>
            </label>
            </div>
      <select name="selectType" id="selectType">
        <option value="" disabled selected>Select Category</option>
        <option name= "category" value="Necklace">Necklaces</option>
        <option name= "category" value="BoloTies">Bolo Ties</option>
        <option name= "category" value="Bracelets">Bracelets</option>
        <option name= "category" value="Rings">Rings</option>
        <option name= "category" value="Belt Buckles">Belt Buckles</option>
      </select>
      <select name="selectGenre" id="selectGenre">
        <option value="" disabled selected>Select Style</option>
        <option name= "style" value="Vintage">Vintage</option>
        <option name= "style" value="Silver">Silver</option>
        <option name= "style" value="Beadwork">Beadwork</option>
      </select>
      <textarea name="description" value={{description}}></textarea>
      <input type="text" name="price" value={{price}} />
      <input type="hidden" name="id" value={{id}} />
      <button type="submit">Save</button>
    </form>
{{/product}}



   {{> footer}}
   {{> script}}

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="/scripts/inventory.js"></script>
  </body>
