
.container {
  margin-top: 100px;
}

.title {
  text-align: center;
}

.itemList {
  list-style: none;
  align-items: center;

}

.itemImg {
  width: 500px;
  height: 470px;
  float: left;
  margin-right: 20px;
}
