html {
font-family: 'Charm', cursive;
font-family: 'Montserrat', sans-serif;
position: relative;
min-height: 100%;
}

.container-title {
  text-align: center;
  margin-top: 40px;
}

.title {
  font-family: 'Montserrat', sans-serif;
}

.subtitle {
  font-family: 'Charm', cursive;
}

.productList {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.pro-list {
  margin: 25px;
}

.productList li {
  padding: 25px;
}

.productImg {
  width: 360px;
  height: 330px;
  text-align: center;
}

.productName {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}

.productPrice {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  color: black;
}

.pro-list a{
  text-decoration: none;
}

.product-info {
  padding-top: 15px;
}
